
#cart-items{
    display: flex;
    margin: auto;
    padding: 15px;
    justify-content: space-evenly;
}

#cart1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 60%;
}

#cart1>div>img{
    width: 100%;
}

#cart1>div>p{
    color: rgb(102, 102, 102);
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
 }

 
#cart1>div>h2{
    font-weight: 530;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    
  }
  
  #cart1>div>button{
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  #cart1>div>button:hover{
    box-shadow: none;
  }
  
  #cart1>div>h3{
    font-weight: 530;
}


#cart1 span{
  display: flex;
  align-items: center;
  padding: 10px 0px;
  width: 60%;
  justify-content: space-evenly;
}

h1{
  text-align: center;
  font-weight: 500;
}

#order-summary{
  border: 1px solid black;
  width: 30%;
  padding: 0.5rem 1rem;
  height: 20rem;
  border-radius: 5px;

}
#order-summary>p:nth-child(1){
  text-align: center;
}

#order-summary>div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

#mtcart{
  text-align: center;
  position: absolute;
  right: 40%;
  top: 40vh;
}