
#intro-section{
    display: flex;
}

#intro-section>div:nth-child(1){
    width: 380px;
    background-color: rgb(142, 53, 109);
    color: aliceblue;
    padding: 100px 60px 0px 60px; 
}


#video-section video {
    width: 100%;
}


#intro-section>div>p:nth-child(1){
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

#intro-section>div>p:nth-child(2){
    font-size: 20px;
}

#find-a-cons{
    position: absolute;
    padding: 15px;
    left: 20px;
}

#shopBtn-1{
    width: 100%;
    margin-top: 35px;
    padding: 10px;
    font-weight: 540;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}

#offers-section{
    margin: auto;
    margin-top: 40px;
    display: flex;
    width: 85%;
    justify-content: space-evenly;
}

#offers-section>div{
    width: 30%;
    text-align: center;
    color: white;
    padding: 0px 30px;
}

#offers-section>div>img{
    width: 100%;
    border-radius: 15px;
}

#offers-section h2{
   position: relative;
   top: -130px;
}

#offers-section h3{
    position: relative;
    top: -120px;
 }

 #mid-section-1{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-evenly;
 }

 #mid-section-1>div{
    width: 45%;
    text-align: center;
 }

 #mid-section-1>div>img{
    width: 100%;
 }

 #mid-section-1 p{
    position: relative;
    top: -100px;
    font-weight: bold;
    letter-spacing: 3px;
 }

 #fav-section{
    display: flex;
    background-color: rgb(255, 248, 240);
    padding: 20px 0px;
   overflow: auto;
    white-space: wrap;
 }

 #fav-section::-webkit-scrollbar{
    height: 6px;
    background-color: rgb(197, 197, 197);
 }

 #fav-section::-webkit-scrollbar-thumb{
    background-color: rgb(138, 138, 138);    
    border-radius: 20px;    
    border: 3px solid rgb(138, 138, 138);
 }

 #fav-section>div:nth-child(1){
    background-color: rgb(255, 248, 240);
    padding: 20px 60px;
 }

 #fav-section>div:nth-child(1)>p{
    font-size: 50px;
    color: black;
    font-family: sans-serif;
 }

 #fav-section>div:nth-child(1)>a{
    color: rgb(102, 102, 102);
    padding-bottom: 5px;
 }

 #fav-section>div:nth-child(1)>img{
    width: 230px;
 }

 #fav-section>div{
    width:300px;
    display: inline-block;
    background-color: white;
    padding: 15px;
 }

 #fav-section>div>p{
    color: rgb(102, 102, 102);
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
 }

 #fav-section>div>img{
    width: 300px;

 }

 #fav-section>div>button{
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

 #fav-section>div>button:hover{
    box-shadow: none;
 }

 #fav-section>div>h2{
    font-weight: 530;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    
 }

 #fav-section span{
   display: flex;
   align-items: center;
   padding: 10px 0px;
   width: 60%;
   justify-content: space-evenly;
 }

 #mid-section-2{
   display: flex;
   justify-content: space-evenly;
   padding-bottom: 100px;
 }

 #mid-section-2>div{
   width: 14%;
   border: 0.5px solid rgb(155, 155, 155);
   border-radius: 10px;
 }

 #mid-section-2>div>img{
   width: 100%;
   border-radius: 10px;
 }

 #mid-section-2>div>p{
   margin: 10px;
 }

 #derm{
   margin: auto;
   text-align: center;
   padding: 80px 0px 50px 0px;
 }

 #consl{
   padding: 20px;
   background-color: rgb(230, 255, 255);
   align-content: center;
 }

 #consl>div{
   display: flex;
   background: white;
   margin: auto;
   width: 80%;
   justify-content: space-around;
   padding: 30px;

  align-items: center;
 }


 #consl>div>button{
   padding: 10px;
   font-size: 20px;
   color: rgb(78, 78, 78);
   background-color: white;
   border: 1px solid black;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#consl>div>button:hover{
   box-shadow: none;
}
