body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* learn-more */
#learn-more{
    display: flex;
    justify-content: center;
    background-color: rgb(237, 236, 232);
    text-align: center;
    padding: 5px;
}

#learn-more>p{
    color: rgb(102, 102, 102);
}

#learn-more a{
    font-weight: bold;
    color: rgb(46, 45, 45);
}


/* logo-section */
#logo-section {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-bottom: 1px solid black;
    font-size: 13px;
}



#logo{
    height: 70px;
}

#btns{
    display: flex;
    width: 20%;
    margin-top: 15px;
    position: absolute;
    right: 20px;
    align-items: center;
    justify-content: space-between;
}

#btns img{
    width: 25px;
}

#nav{
    margin: auto;
    display: flex;
    width: 70%;
    height: 50px;
    justify-content: space-around;
    font-size: 11px;
    padding: 12px 0px 0px 0px;

}

#nav>p{
    padding-top: 4px;
    margin-bottom: 0;
    letter-spacing: 0.5px;
}

#nav>p::after{
    content: '';
    display: block;
    position: relative;
    bottom: -20px;
    width: 0%;
    transition: 0.4s;
}

#nav>p:hover::after{
    height: 2px;
    width: 100%;
    background-color: rgb(81, 180, 255);
}


#skincare, #haircare{
    visibility: hidden;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    background-color: white;
    opacity: 90%;
    height: 0px;
    transition: 1s;
    padding-bottom: 20px;
    z-index: 2;
}

#skincare>div, #haircare>div{
  display: flex;
  flex-direction: column;
    width: 30%;
    text-align: left;
}

#skincare>div button, #haircare>div button{
    text-align: left;
    margin: 3px 0px;
    background-color: white;
    background: fixed;
    border: none;
    width: fit-content;
    padding: 2px 0px ;

}

#skincare button::after, #haircare button::after{
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    transition: 0.4s;
}

#skincare button:hover::after, #haircare button:hover::after{
    height: 2px;
    width: 100%;
    background-color: purple;
}


#login-popup{
    visibility: hidden;
  width: 300px;
  align-content: space-around;
  padding: 20px;
  background-color: white;
    position: absolute;
    left: 65%;
    z-index: 3;
}

#login-popup:hover{
    cursor: pointer;
}

#login-popup>form{
    display: flex;
    flex-direction: column;
}



#login-popup>form>input{
    padding: 10px;
    margin-bottom: 20px;
    border: 0.5px solid black;
    border-radius: 4px;
}

#login-popup>form>input[type="submit"]{
    background-color: black;
    color: aliceblue;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#login-popup>form>input[type="submit"]:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* searchBox */

#search-box{
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20vh;
    left: 35%;
    width: 350px;
    height: 15vh;
    background-color: white;
    padding: 1rem;
    align-items: center;
    background-color: rgb(212, 182, 205);
    border-radius: 5px;
    z-index: 3;
}

#search-box span{
    width: 100%;
    justify-content: space-evenly;
}

#search-box input{
    padding: 0.5rem;
    width: 80%;
}

#searchlogo{
    margin-top: 15px;
}